<div class="animate__animated animate__fadeIn animate__faster">

<h3>Buscar por Region <small> {{regionActiva|titlecase}} </small></h3>
<hr></div>
<h5>Seleccionar Region</h5>
<div class="row">
  <div class="col">
    <!--   [class.btn-primary]="region===regionActiva"
.................
      [ngClass]="{
        'btn-primary':regionActiva==region,
        'btn-ouline-primary':regionActiva!==region}"
    /...............
    
    -->
    <button *ngFor="let region of regiones"
      class="btn btn-ouline-primary"
      (click)="activarRegion(region)"
      [class]="getClaseCSS(region)"
      >
      {{region|titlecase}}

    </button>
  </div>
</div>
<div *ngIf="paises.length>0" class="row">
  <div class="col">
     <app-pais-tabla [paises]="paises" ></app-pais-tabla>
   </div>
</div>